<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <!-- <unitTestProvider name="NUnit" /> -->
    <unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    </plugins></specFlow>
  <appSettings>
    <add key="SELENIUM_DRIVER" value="Chrome" />
    <add key="HOST_URL" value="http://blr.dev.itmagnet.biz/" />
    <add key="ADMIN" value="admintest/" />
    <add key="CLIENT" value="clienttest/" />
    <add key="SUPPLIER" value="suppliertest/" />
    <add key="PROC1" value="PassAndEnter.exe" />
    <add key="VERBOSE_MODE" value="OFF" />
    <add key="ERROR_EMAIL" value="mahmudautomateerror@gmail.com" />
    <add key="apikey" value="8mkR8HyDz7Vy8CBUhCEGPze0O6ZnOl0z" />
  </appSettings>
</configuration>